html, body {
   background-color: #D0DAA8;
}

#gold-image {
   position: absolute;
   margin-top: 72px;
   right: 650px;
   width: 45px;
   height:45px;
}

#gold-window {
   display: block;
   border: 3px solid #969696;
   border-radius: 6px;
   height: 50px;
   width: 200px;
   background-color: #fff;
   text-align: right;
   
   
   position: absolute;
   margin-top: 70px;
   right: 440px;
   box-shadow: 
      3px 5px 15px rgba(0, 0, 0, 0.3),
      inset 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#gold {
   padding: 10px 12px;
   font-size: 21px;
}

.dropbtn {
   /* background-color: #4CAF50; */
   /* color: white; */
   margin: 0px 500px;
   /* padding: 16px;
    font-size: 16px;
    border: none; */
   decoration: none;
   /* cursor: pointer; */
}

/* .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
} */
#myInput {
   border-box: box-sizing;
   background-image: url('searchicon.png');
   background-position: 14px 12px;
   background-repeat: no-repeat;
   font-size: 16px;
   padding: 14px 20px 12px 45px;
   border: none;
   border-bottom: 1px solid #ddd;
}

#myInput:focus {
   outline: 3px solid #ddd;
}

.dropdown {
   position: relative;
   display: inline-block;
}

.dropdown-content {
   display: none;
   position: absolute;
   margin: 0px 500px;
   background-color: #f6f6f6;
   min-width: 230px;
   overflow: auto;
   border: 1px solid #ddd;
   z-index: 1;
}

.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

.dropdown a:hover {
   background-color: #ddd
}

.show {
   display: block;
}

.btn-warning {
   padding: 16px;
   font-size: 16px;
}

#friends {
   width: 60px;
   height: 60px;
}

#house {
   width: 1000px;
   height: 700px;
}

.img {
   width: 300px;
   height: 300px;
   border-color: black;
}

#house1, #house2, #house3, #house4, #house5, #house6 {
   opacity: 0.2;
}

#frog1 {
   width: 80px;
   height: 80px;
}

.icon {
   display: inline-block;
   position: absolute;
   width: 40px;
   height: 40px;
   top: 8px;
   left: 5px;
}

.btni {
   position: relative;
   width: 130px;
   height: 55px;
   margin-bottom: 20px;
   text-align: right;
   font-size: 16px;
   letter-spacing: 4px;
   vertical-align: middle;
   padding: 16px 2px;
}

.home, .friends {
   width: 80px;
   height: 80px;
   opacity: 0.5;
}

.home:hover, .friends:hover {
   opacity: 1;
}

div.modal-btns {
   display: inline-block;
   width: 180px;
   padding: 10px 30px;
   text-align: center;
}

div.btn-1 {
   margin-left: 80px;
}

div.btn-2 {
   margin-left: 30px;
}

div.btn-text {
   margin-top: 15px;
   font-size: 20px;
   letter-spacing: 10px;
}

.modalIcon {
   width: 100%;
   height: auto;
}

a#exitBtn {
   padding: 10px 6px;
   width: 150px;
   height: 60px;
}

#friendDiv div.modal-header {
   text-align: center;
   font-size: 42px;
   letter-spacing: 10px;
   background-repeat: no-repeat;
   background-position: center;
   background-color: rgba(255, 249, 142, 1);
   background-size: 100% auto;
   padding: 0;
}

#guestNoteDiv div.modal-header {
   text-align: center;
   font-size: 42px;
   letter-spacing: 10px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100% auto;
   background-color: rgba(255, 249, 142, 1);
   padding: 0;
}

#logoutDiv div.modal-header {
   text-align: center;
   font-size: 42px;
   letter-spacing: 10px;
   background-image: url("../images/modalHeader.png");
   background-repeat: no-repeat;
   background-position: center;
   height: 180px;
   background-size: 100% auto;
   padding: 0;
}

#logoutModalIcon {
   width: 40px;
}

div.modal-body {
   
}

div.friend-obj {
   border: 2px solid rgba(70, 70, 70, 0.4);
   border-radius: 5px;
   width: 100%;
   height: 80px;
   margin-bottom: 20px;
   padding: 0 10px;
}

div.friend-icon {
/*    border: 2px solid black; */
   border-radius: 50%;
   width: 70px;
   height: 70px;
   margin-top: 2px;
}

div.friend-icon img {
   width: 80px;
}

div.friend-id {
   width: 100%;
   font-size: 30px;
   margin-top: 20px;
   text-align: justify;
}

div.visit-btn {
   border-radius: 3px;
   width: 80px;
   height: 40px;
   margin-top: 20px;
   text-align: center;
   vertical-align: middle;
   padding: 8px 4px;
   background-color: mediumseagreen;
   cursor: pointer;
}

div.guestNote-obj {
   position: relative;
   width: 100%;
   height: 150px;
   border-bottom: 1px solid rgba(230, 230, 230, 1);
}

div.friend-profile {
   position: relative;
   margin-top: 10px;
   width: 100%;
   height: 100px;
   text-align: center;
}

div.friend-profile img {
   width: 100%;
}

div.guestNote-main {
   position: relative;
   margin-top: 10px;
   width: 100%;
   height: 120px;
   border: 3px solid #d3d3d3;
   border-radius: 10px;
   z-index: 0;
}

div.guestNote-main p {
   padding: 6px 10px;
}

div#house-owner {
   display: inline-block;
   position: absolute;
   
   padding: 5px 0;
   font-size: 24px;
   text-align: center;
   
   width: 200px;
   height: 50px;
   
   left: 600px;
   top: 45px;
}

div#owner-status {
   display: inline-block;
   position: absolute;
   
   padding: 5px 0;
   font-size: 24px;
   text-align: center;
   
   width: 100px;
   height: 50px;
   
   left: 810px;
   top: 75px;
}

div#timer {
   display: inline-block;
   position: absolute;

   padding: 5px 0;
   font-size: 40px;   
   text-align: center;
   
   width: 500px;
   height: 50px;
   
   left: 620px;
   top: 800px;
}

div#timer img {
   width: 45px;
   height: 45px;
}