@font-face {
	font-family: 'Omni Gothic 40';
	src: url("../fonts/OmniGothic040.woff");
}

@font-face {
	font-family: 'Omni Gothic 30';
	src: url("../fonts/OmniGothic030.woff");
}

@font-face {
	font-family: 'Omni Gothic 50';
	src: url("../fonts/OmniGothic050.woff");
}

a, a:link, a:active, a:checked, a:focus {
	text-decoration: none;
	color: black;
}

body {
	box-sizing: border-box;
	background-color: #D0DAA8;
	font-family: 'Omni Gothic 30';
}