body {
   overflow: hidden; 
}

#gold-image {
   position: absolute;
   margin-top: 32px;
   right: 230px;
   width: 45px;
   height:45px;
}

#gold-window {
   display: block;
   border: 3px solid #969696;
   border-radius: 6px;
   height: 50px;
   width: 200px;
   background-color: #fff;
   text-align: right;
   
   
   position: absolute;
   margin-top: 30px;
   right: 20px;
   box-shadow: 
      3px 5px 15px rgba(0, 0, 0, 0.3),
      inset 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#gold {
   padding: 10px 12px;
   font-size: 21px;
}

#homeBtn {
   display: inline-block;
   position: absolute;
   top: 10px;
}

#friendBtn {
   display: inline-block;
   position: absolute;
   top: 10px;
   left: 110px;
}

#homeBtn img, #friendBtn img {
   width: 80px;
}

#inventory-window {
   display: block;
   position: relative;
   border: 3px solid #969696;
   border-radius: 6px;
   width: 100%;
   height: 500px;
   margin-top: 100px;
   background-color: #fff;
   box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.5), 0px 15px 10px
      rgba(0, 0, 0, 0.2);
}

#mybag-window {
   display: block;
   position: relative;
   border: 3px solid #969696;
   border-radius: 6px;
   width: 100%;
   height: 280px;
   margin-top: 20px;
   background-color: #fff;
   box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.5), 0px 15px 10px
      rgba(0, 0, 0, 0.2);
}

#mybag-title {
   width: 100%;
   height: 50px;
   background-color: cornflowerblue;
   border-bottom: 2px solid #969696;
   color: white;
   font-size: 26px;
   text-align: center;
   padding: 10px 0;
   letter-spacing: 4px;
}

div.tabs {
   display: inline-block;
   width: 33.3%;
   height: 80px;
   border-bottom: 2px solid #969696;
   text-align: center;
   font-size: 30px;
   font-weight: bold;
   opacity: 1;
   transition: 0.2s ease all;
}

div.tabs:hover {
   opacity: 0.8;
}

div.tab1 {
   left: 0;
   border-right: 2px solid #969696;
   background-color: cornflowerblue;
}

div.tab2 {
   position: absolute;
   border-right: 2px solid #969696;
   background-color: rgba(248, 173, 78, 1);
}

div.tab3 {
   width: 33.4%;
   position: absolute;
   right: 0;
   background-color: indianred;
}

.inner-text {
   padding: 20px 24px;
   transition: 0.2s ease all;
   letter-spacing: 6px;
   color: white;
}

div.item-slot {
   position: relative;
   display: inline-block;
   width: 150px;
   height: 150px;
   border: 1px solid rgba(26, 64, 166, 1);
   border-radius: 10px;
   background-color: #eee;
   box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.25), 
      inset 1px 1px 8px rgba(0, 0, 0, 0.6);
    
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

div.item-slot-bag {
   position: relative;
   display: inline-block;
   width: 150px;
   height: 150px;
   border: 1px solid rgba(26, 64, 166, 1);
   border-radius: 10px;
   background-color: #eee;
   box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.25), 
      inset 1px 1px 8px rgba(0, 0, 0, 0.6);
    
    margin-left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

div.item-slot-bag img {
   position: absolute;
   top: 0px;
   left: 0px;
   z-index: 2;
}

img.item-slot-image {  
   margin-left: 50%;  
   transform: translateX(-50%);
   margin-top: 10px;
   width: 128px;
}

div.inbag {
   margin-top: 35px;
   display: inline-block;
}

#mybag-window div.inbag {
   margin-top: 20px;
   display: inline-block;
}

#modalImage {
   margin-top: 40px;
   display: inline-block;
}

#itemModalList {
   margin-top: 20px;
   display: inline-block;
}

#itemModalList li {
   list-style: none;
   margin: 15px 0;
   letter-spacing: 6px;
}

#equip {
   margin-top: 20px; margin-right : 50%;
   transform: translateX(50%);
   padding: 10px 70px;
   margin-right: 50%;
}

#gameBtns {
   margin-top: 100px;
   padding-right: 1000px;
}

#gameBtns a {
   position: relative;
   width: 130px;
   height: 55px;
   margin-bottom: 20px;
   text-align: right;
   font-size: 16px;
   letter-spacing: 8px;
   vertical-align: middle;
   padding: 16px 0;
}

#gameBtns img {
   display: inline-block;
   position: absolute;
   width: 40px;
   height: 40px;
   top: 8px;
   left: 5px;
}

#mybag-window div.inbag {
   text-align: center;
   padding: 60px 0;
   padding-left: 15px;
   font-size: 24px;
   letter-spacing: 12px;
}

div.itemQtyBox {
   position: absolute;
   width: 20px;
   height: 20px;
   border: 1px solid rgb(116, 191, 93);
   border-radius: 20%;
   background-color: rgb(255, 255, 255);
   text-align: center;
   bottom: 5px;
   right: 5px;
}

p.itemQty {
   font-size: 14px;
}

div.bag-title-box {
   width: 150px;
   margin-left: 50%;
   margin-top: 10px;
   transform: translateX(-50%);
   text-align: center;
}

div.bag-title-box p.bag-title {
   font-size: 20px;   
}